<!DOCTYPE html>
<html>

<head>Lee Lewis: CSC227 Final Project</head>

<body>
    <h1>Currency Converter</h1>
    <h2>Enter the amount of USD: </h2>
    <form method="POST">
        <label for="currencies">Choose a currency:</label>
        <select id="currencies" name="currencies">
          <option value="euros">Euros</option>
          <option value="pesos">Pesos</option>
          <option value="yin">Yin</option>
          <option value="gbp">Great British Pound</option>
        </select>
        <input type="submit">
      </form>
    <!-- <form method="POST">
        <input name="pesos">
        <input type="submit" value="Pesos">
    </form>
    <form method="POST">
        <input name="euros">
        <input type="submit" value="Euros">
    </form> -->
</body>
</html>